body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: plum;
  margin: 0;
  padding: 20px;
}

.card {
  width: 250px;
  background: #fff;
  border: 1px solid #ddd;
  border: 2px solid;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin: 15px 0;
  padding: 15px;
  text-align: center;
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 20px;
}

.card h3 {
  margin: 10px 0;
  font-size: 18px;
  color: purple;
}

.card p {
  font-size: 14px;
  color: black;
  line-height: 1.5;
}